*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .app {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
} */
.home {
  background-color: lightblue;
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.active{
  opacity: 0;
}




/* .box {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  margin: 20px;
}
.blue {
  background-color: lightblue;
} */